html,body{}


/*Страница авторизации */
#auth-page{
    background: linear-gradient(to top, #7DBAFF, #6186AD);
}

#profile-page{
    background: #78a68a;
}
#profile-page .thumb-img{
    display: table-cell;
    width: 100px;
    height: 100px;
    background: url('https://pp.vk.me/c616029/v616029824/6760/bzonIYnN1jY.jpg') no-repeat center center  ;

}
#profile-page .name{}
#profile-page .city{}
#profile-page .year{}

#profile-page .profile{

    display: table-cell;
    font-size: 12pt;
    color: #fff;
    padding-left: 10px !important;
}

#profile-page .current-events {

    display: inline !important;
    padding-top: 10px!important ;
}
#more-events-page{
    background: #78a68a;


}
#more-events-page .more-event{
    display: inline;
    color: #f3f3f3;
    margin-left:25%;
}
#more-events-page .tags {
    color:  #35576E;
    font-size: 8pt;
}



/*Кнопка авториции через Вконтакте*/
.vk_oauth{
    position: fixed;
    top: 50%;
    left: 25%;
    height: 50px;
    width: 200px;
}

/*Логотип*/
.app-logo{

}

/*Страница информации о приложении*/
#info-page{
    background:#7DBAE3;
}
/*Страница информации кнопки*/
#about, #info, #agreement {
    background: #35576E;
    color: #ADCEE3;
}
#about:hover, #info:hover,#agreement:hover {
    background: #296994 !important;
}

/*Страница со списком событий*/
#events-page{
    background: #ACE8C2!important ;
    overflow:hidden !important;
}

/*инпут поиска по событиям*/
.ui-input-search {
    margin-right: 20px !important;
    width: 90%;
}

/*кнопка поиска по событиям*/
.ui-btn#btn-search {
    width:  80px !important;
    heigth: 50px !important;
    background: #0C692F !important ;
    color: #ACE8C2 !important;
}



/*Меню приложения*/
.top-menu{
    background: #0C692F;
}
/*Кнопка меню приложения*/
.btn-menu{
    background: #0C692F !important;
    color: #ACE8C2 !important;
    font-size: 10px !important;
}
.btn-menu:hover{
    background: #2AA657 !important;
}
.btn-menu.active {
    background: #2AA657 !important;
}
/*Событие (элемент списка) */
.item-event {
    background: #ACE8C2 !important;
    overflow:hidden;
}
.item-event:hover{
    background: #79E8A4 !important ;
}
/* Теги события */
.item-event .tags {
   color:  #35576E;
   font-size: 8pt;
}
/*Количество человек*/
.item-event .count {
    color:  #303030;
    font-size: 10pt;
}

/*Событие без налички*/
.item-event .free_status {
    width: 30px;
    height: 30px;
    display:inline-block !important;
    background: url(../img/icons-png/free_label.png) no-repeat center center  ;
    background-size: 60% 70%;
 }
/*Событие с наличкой*/
.item-event  .not_free_status {
    width: 30px;
    height: 30px;
    display:inline-block !important;
    background: url(../img/icons-png/not_free_label.png) no-repeat center center  ;
    background-size: 60% 70%;
}
/*Время начала события*/
.item-event .start {
    color:  #303030;
    font-size: 8pt;
   }

/*Время окончания события*/
.item-event .stop {
    color:  #303030;
    font-size: 8pt;
}
/*Заголовок события*/
.item-event .title{
    width: 120px !important ;
}
.item-event .title p{
    text-overflow:  ellipsis !important;
}

.item-event .block-1, .item-event .block-2{
    display:table-cell;
}

.item-event .block-3 {
    display:table-row;
    margin: 0;
    padding: 20px;

}
.load-next-list-event {
    font-size: 13pt;
    text-align: center;
    color:  #303030;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
}
li{
list-style-type: none !important;
}





